*{
  font-size: 22px;
  /*margin: 0px;*/
  font-family: Arial, monospace, Times New Roman;

}
p {
  font-size: 20px;
  font-weight: bold;
}
input[type="text"]{
  width:50%;
}
form{
  margin: 0px auto;
  width:90%;
}
#nombreAPP{
  font-size: 32px;
  color:gray;
  text-align: center;
}
.inicio{
  color:green;
}
.inicio p{
  font-size: 35px;
}
